<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.w3engineers.ext.viper">

    <application
        android:name="com.w3engineers.ext.strom.App"
        tools:replace="android:name">
        <activity
            android:name=".application.ui.wallet.WalletActivity"
            android:label="@string/title_activity_wallet"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".application.ui.dataplan.DataPlanActivity"
            android:label="@string/title_activity_data_plan"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name=".application.data.local.service.MeshService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false" />

        <service android:name=".ClientLibraryService"
            android:exported="true"
            android:enabled="true">
            <intent-filter>
                <action android:name="service.viper_server" />
            </intent-filter>
        </service>

    </application>

</manifest>